@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Public+Sans:wght@300;400;800&display=swap');

body {
    background-color: var(--bg-color);
    font-family: 'Public Sans', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
}

.container .logo-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container .logo-title:hover {
    transform: scale(1.1);
    transition: 0.1 ease-in-out;
}

.menu ul {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 30px;
}

.menu li a{
    padding: 10px;

}

.menu li a:hover{
    background-color: var(--btn-hover-color);
    color: var(--btn-text-color);
}

.container .menu .button {
    display: block;
    background-color: var(--btn-hover-color);
    color: var(--btn-text-color);
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 20px;
}

.button:hover {
    transform: scale(1.1);
    transition: 0.1 ease-in-out;
    color: var(--btn-text-hover-color);
}


